<div class="card forecast-card mx-1" style="width: 16rem;">
  <!-- TODO: remove rounded edges on image -->
  <!-- TODO: we should really pull all these icons and serve locally so they can be cached/preloaded -->
  <%= tag :img, src: prediction[:icon], class: "card-img-top", alt: prediction[:detailedForecast], title: prediction[:detailedForecast] %>
  <h5 class="card-header"><%= prediction[:name] %></h5>
  <div class="card-body">
    <p class="card-text">
      <%= prediction[:shortForecast] %>
      <!-- TODO: replace `(Full)` with an info indicator -->
      <a data-bs-toggle="tooltip" data-bs-title="<%= prediction[:detailedForecast] %>">(Full)</a>
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <!-- TODO: hide if zero(?) -->
      Chance of Rain: <%= prediction[:probabilityOfPrecipitation]&.fetch(:value) || 0 %>%
    </li>
    <li class="list-group-item">
      <!-- TODO: fix degree symbol -->
      Temperature: <%= prediction[:temperature] %>&nbsp;&circ;<%= prediction[:temperatureUnit] %>
    </li>
    <li class="list-group-item">
      Wind: <%= prediction[:windSpeed] %> <%= prediction[:windDirection] %>
    </li>
  </ul>
</div>
