<div>
  <!-- Alternative implementation:
   <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">Cache Miss</span>
  </span>
  -->
  <span class="h3">
  <%= @forecast.zip_location[:city] %>, <%= @forecast.zip_location[:state] %> Forecast
  </span>
  <% if @forecast.cache_hit %>
    <span class="badge rounded-pill text-bg-info align-text-top"><small>Cache Hit</small></span>
  <% else %>
    <span class="badge rounded-pill text-bg-warning align-text-top"><small>Cache Miss</small></span>
  <% end %>

</div>
  <small class="text-body-secondary">
    Last updated <%= @forecast.update_time.localtime.to_fs(:rfc822) %>
  </small>

  <div id="forecast-carousel" class="carousel slide mb-6 py-2 mt-2" data-bs-ride="carousel">
    <div id="forecast-carousel-frame">
      <div class="carousel-inner">
        <% @forecast.by_date.each.with_index do |forecasts, date_idx| %>
          <%= forecast_carousel_item date_idx do %>
            <div class="d-flex justify-content-center">
              <%= render partial: 'forecasts/prediction', collection: forecasts, as: :prediction %>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="carousel-indicators justify-content-center">
        <% @forecast.by_date.each.with_index do |forecasts, date_idx| %>
          <%= forecast_carousel_indicator forecasts.first.name, date_idx, target: "#forecast-carousel" %>
        <% end %>
      </div>
    </div>

    <%= carousel_buttons(target: "#forecast-carousel") %>
  </div>

