<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= content_for(:title) || "Weather" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <!-- TODO: add icon to assets -->
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= javascript_include_tag "application", type: "module" %>
    <%= stylesheet_link_tag "application" %>
  </head>

  <!-- Theme initially based on examples at https://getbootstrap.com/docs/5.3/examples/carousel/ -->
  <body class="h-100 text-center d-flex flex-column">

  <header class="sticky-top w-100" data-bs-theme="dark">
    <nav class="navbar navbar-expand-md navbar-dark  bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Weather</a>
        <div class="navbar-collapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <%= nav_item search_path, 'Search', is_current: (current_page?(search_path) || current_page?(forecast_path)) %>

          </ul>
          <!-- These will be right-aligned -->
          <ul class="navbar-nav mb-2 mb-md-0">
            <%#= nav_item '#', 'README.md', disabled: true %>
            <%#= nav_item '#', 'Resume', disabled: true %>
            <%= nav_item 'mailto:Mike@Vasto.la', 'Contact' %>
          </ul>
        </div>
      </div>
      <br />
    </nav>
  </header>

  <div class="cover-container d-flex w-100 p-3 mx-auto flex-column flex-grow-1">
    <main class="px-3">
      <div id="flashes">
        <% flash.each do |key, value| %>
          <%= tag :div, value, class: flash_class(key) %>
        <% end %>
      </div>

      <%= yield %>
    </main>

    <footer class="mt-auto text-black-50">
      <p>A coding challenge by <a href="mailto:Mike@Vasto.la">Mike Vastola</a>.</p>
    </footer>
  </div>
  </body>
</html>
