<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= content_for(:title) || "Weather" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", type: "module" %>
  </head>

  <body class="d-flex h-100 text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0">Weather Forecast</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="#">Lookup</a>
          <!--a class="nav-link fw-bold py-1 px-0" href="#">Features</a-->
          <!--a class="nav-link fw-bold py-1 px-0" href="#">Contact</a-->
        </nav>
      </div>
    </header>

    <main class="px-3">
      <% flash.each do |key, value| %>
        <%= tag :div, value, class: flash_class(key) %>
      <% end %>
      <%= yield %>
    </main>

    <footer class="mt-auto text-black-50">
      <p>A coding challenge by <a href="mailto:Mike@Vasto.la">Mike Vastola</a>.</p>
    </footer>
  </div>
  </body>
</html>
